src/main/mule/interface.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:secure-properties="http://www.mulesoft.org/schema/mule/secure-properties" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd  http://www.mulesoft.org/schema/mule/secure-properties http://www.mulesoft.org/schema/mule/secure-properties/current/mule-secure-properties.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
    <http:listener-config name="hotel-booking-rest-api-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="${secure::http.port}" />
    </http:listener-config>
    <flow name="hotel-booking-rest-api-main">
        <http:listener config-ref="hotel-booking-rest-api-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="hotel-booking-rest-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:name="BAD REQUEST">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="cd599227-dfb7-48ab-afb4-d32e46bd0f98" type="DB:CONNECTIVITY">
                <ee:transform doc:name="Transform Message" doc:id="801f20b8-a312-4c65-b0e3-e4427c7d8e15">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Details not found"}]]></ee:set-payload>
                    </ee:message>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="0b3b31a7-9604-4239-a354-96d8b8519ee6" type="DB:BAD_SQL_SYNTAX">
                <ee:transform doc:name="SYNTAX ERROR" doc:id="7c1dd345-c770-49d7-8922-53c050d42f54">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "incorrect syntax"}]]></ee:set-payload>
                    </ee:message>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="e2858741-e6bf-4e9c-ace1-d3aa468fa13a" type="DB:QUERY_EXECUTION">
                <ee:transform doc:name="Transform Message" doc:id="14f2f0e3-5770-4bb3-adb9-d52bca651a44">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "syntax not found"}]]></ee:set-payload>
                    </ee:message>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <apikit:config name="hotel-booking-rest-api-config" api="hotel-booking-rest-api.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <flow name="hotel-booking-rest-api-console">
        <http:listener config-ref="hotel-booking-rest-api-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="hotel-booking-rest-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="put:\customers\(id):application\json:hotel-booking-rest-api-config" doc:id="4a8a94d5-3132-4324-9e2e-803a6c5e9585">
        <flow-ref doc:name="updateCustomerByIdFlow" doc:id="251323b7-33c7-4810-9281-858d7129e8d6" name="updateCustomerByIdFlowImpl" />
    </flow>
    <flow name="delete:\customers\(id):hotel-booking-rest-api-config" doc:id="54848976-abd4-46ef-af48-253c50237643">
        <flow-ref doc:name="deleteCustomerByIdFlow" doc:id="d748dae1-4e30-49d1-8c4f-bdf8ec5d52bf" name="deleteCustomerByIdFlowImpl" />
    </flow>
    <flow name="get:\customers:hotel-booking-rest-api-config" doc:id="11e65942-bb1e-4491-9ff1-e532c3f8e2b9">
        <flow-ref doc:name="getCustomersDetailsFlow" doc:id="4d94dcde-aee7-4472-bbbe-da96eb250598" name="getCustomerDetailsFlowImpl" />
    </flow>
    <flow name="get:\customers\(id):hotel-booking-rest-api-config" doc:id="e8de309f-ebd6-4c21-bd5c-baf0a0bfc15c">
        <flow-ref doc:name="getCustomerByIdFlow" doc:id="887546f3-d078-4758-b7e7-e398670b205b" name="getCustomerByIdFlowImpl" />
    </flow>
    <flow name="post:\customers:application\json:hotel-booking-rest-api-config" doc:id="7b506149-e002-41e9-92df-9087d4355422">
        <flow-ref doc:name="postCustomerDetailsFlow" doc:id="860d214b-5850-4544-986d-20be2cd52f8a" name="insertCustomerFlowImpl" />
    </flow>
    <flow name="put:\customers\(id)\hotelBookings\(hotelId):application\json:hotel-booking-rest-api-config">
		<flow-ref doc:name="updateHotelById" doc:id="cd3ca5bd-a50d-4f8d-a838-66314b00c4a1" name="updateHotelBookingByIdFlowImpl"/>
    </flow>
    <flow name="delete:\customers\(id)\hotelBookings\(hotelId):hotel-booking-rest-api-config">
		<flow-ref doc:name="deleteHotelById" doc:id="0a2f96bd-79fd-4e9a-a0ff-d93eb1c2f7f6" name="DeleteHotelByIdFlowImpl"/>
    </flow>
    <flow name="get:\customers\(id)\hotelBookings:hotel-booking-rest-api-config">
		<flow-ref doc:name="getHotelBookingDetails" doc:id="1892a6f5-0dbf-4f6a-8d59-3e96d75580c3" name="getHotelBookingDetailsFlowImpl"/>
    </flow>
    <flow name="get:\customers\(id)\hotelBookings\(hotelId):hotel-booking-rest-api-config">
		<flow-ref doc:name="getHotelById" doc:id="26c17d0b-8c4c-4c40-a557-60d0802f3f2b" name="getHotelByIdFlowImpl"/>
    </flow>
    <flow name="post:\customers\(id)\hotelBookings:application\json:hotel-booking-rest-api-config">
		<flow-ref doc:name="insertHotelBookings" doc:id="7df5670c-458d-4bab-b47c-e408bdfbe439" name="insertCustomerHotelBookingFlowImple"/>
    </flow>
</mule>
